.Card {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 20px 0;
  background: white;
  min-height: 100px;
}

.Card--left-arrow:hover {
  cursor: pointer;
}

.Card--right-arrow:hover {
  cursor: pointer;
}
