.Column {
  background: white;
  background-color: white;
}

.Column--header {
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.Column--header--1 {
  background-color: pink;
}

.Column--header--2 {
  background-color: yellow;
}

.Column--header--3 {
  background-color: red;
}

.Column--header--4 {
  background-color: blue;
}

.Column--add-card {
  text-align: center;
}

.Column--add-card:hover {
  cursor: pointer;
}
